@layer custom;
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary-900: #3c2375;
  --color-primary-800: #53389e;
  --color-primary-700: #6941c6;
  --color-primary-600: #7f56d9;
  --color-primary-500: #9e77ed;
  --color-primary-300: #d6bbfb;
  --color-primary-200: #e9d7fe;
  --color-primary-100: #f4ebff;
  --color-primary-50: #f9f5ff;
  --color-gray-900: #101828;
  --color-gray-700: #344054;
  --color-gray-300: #d0d5dd;
  --color-gray-500: #667085;
  --color-gray-200: #eaecf0;
  --color-gray-50: #f9fafb;
  --color-ivory: #f9f9ed;
  --color-raisin-black: #2e282a;
  --color-purple: #7d82b8;
  --color-eng-orange: #ba1200;
  --leading-full: 100%;
  --leading-90: 90%;
  --leading-80: 80%;
  --tracking-0: 0em;
  --tracking-1: 0.01em;
  --tracking-2: 0.02em;
  --tracking-6: 0.06em;
  --tracking-negD33: -0.0033em;
  --tracking-neg1: -0.01em;
  --tracking-neg3: -0.03em;
  --tracking-neg4: -0.04em;
  --tracking-neg5: -0.05em;
  --breakpoint-2xl: 1440px;
  --animate-fontChange: fontChange 2s;
  --transition-duration: 300ms;
}

@layer custom {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body,
  a,
  button,
  input,
  textarea {
    font-family: "Inter", sans-serif;
  }

  a,
  button {
    cursor: pointer;
  }
}
